# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
#importing the relevant libraries
import numpy as np
import pandas as pd

#importing the data file
data = pd.read_csv("Data.csv")

In [2]:
data.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,0,1000,1/0/00,Personal Auto,Four-Door Car,"2,704934",NaN
1,QZ44356,Arizona,F,Bachelor,"697953,59%",0,94,1/0/00,Personal Auto,Four-Door Car,"1131,464935"
2,AI49188,Nevada,F,Bachelor,"1288743,17%",48767,108,1/0/00,Personal Auto,Two-Door Car,"566,472247"
3,WW63253,California,M,Bachelor,"764586,18%",0,106,1/0/00,Corporate Auto,SUV,"529,881344"
4,GA49547,Washington,M,High School or Below,"536307,65%",36357,68,1/0/00,Personal Auto,Four-Door Car,"17,269323"

In [3]:
#obtain the dimensions of the dataset
data.shape
print(f"The dataset contains {data.shape[0]} rows and {data.shape[1]} columns.")

The dataset contains 1071 rows and 11 columns.

In [11]:
#Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable.
#provide corrections if not appropriate

data.info()

#customer:  object (str)
#state: object (str)
#gender: object (str)
#education: object (str)
#customer lifetime value: object (str)
#the values are unrealistic
#monthly premium auto: float or int
#number of open complaints: int
#the data seems to be in a date format
#policy type: object (str)
#total claim amount: float with 2 decimal digits

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1071 entries, 0 to 1070
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1071 non-null   object
 5   Income                     1071 non-null   int64
 6   Monthly Premium Auto       1071 non-null   object
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1068 non-null   object
dtypes: int64(1), object(10)
memory usage: 92.2+ KB

In [5]:
#- Identify the number of unique values for each column and determine which columns appear to be categorical. 
#You should also describe the unique values of each categorical column and the range of values for numerical 
#columns, and give your insights.

data.nunique()

#categorical: ST, Gender, Education, policy type, vehicle class
#categorical variables have less possible values

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1030
Income                        775
Monthly Premium Auto          132
Number of Open Complaints       7
Policy Type                     4
Vehicle Class                   9
Total Claim Amount            758
dtype: int64

In [12]:
for i in data.columns:
    print(data.unique())

AttributeError: 'DataFrame' object has no attribute 'unique'

In [19]:
#- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the 
#central tendency and distribution of the data for numerical columns. 
#You should also provide your conclusions based on these summary statistics.

data.describe(include="all")

#we have valid income data for all the customers
#half of the people make at least 36000 dollars; the average income is 39206 dollars (skewed to the right, 
# higher values)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
count,1071,1071,954,1071,1071,1071.000000,1071,1071,1071,1071,1068
unique,1071,8,5,6,1030,NaN,132,7,4,9,758
top,JB50798,Oregon,F,Bachelor,"251459,20%",NaN,65,1/0/00,Personal Auto,Four-Door Car,"321,6"
freq,1,320,457,324,4,NaN,47,827,777,573,19
mean,NaN,NaN,NaN,NaN,NaN,39206.366947,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,30511.131867,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,13600.500000,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,36088.000000,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,64631.000000,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,99960.000000,NaN,NaN,NaN,NaN,NaN

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [22]:
#showing the 5 less common locations
locations = data["ST"]
filtered_locations = locations.value_counts()
filtered_locations.nsmallest(5)

AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: ST, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [ ]:
# Your code here

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [ ]:
# Your code here
#- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing 
# only Corporate Auto policies.
#- Calculate the average income for each policy.
#- Print the results.

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here